<%= form_for(@list, html: {class: "form-inline"}) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="form-group">
    <%= f.label :name, "List:" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.submit class: "btn btn-primary", "aria-hidden" => "true" %>
  </div>

  <br>

  <div class="actions">
    
  </div>


<% end %>
