<h1>All Lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="lead">Name</th>
      <th class="lead">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to ' SHOW TASKS', list, class: "btn btn-primary" %>
        <%= link_to ' EDIT', edit_list_path(list), class: "btn btn-warning" %>
        <%= link_to ' DELETE', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= render 'form' %>

<br>
