<%= field_set_tag "New Task" do %>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :list_id %>
    <% if @list %>
      <%= select("task", "list_id", List.where("id = ?", @list.id).collect { |l| [l.name, l.id] }) %>
    <% else %>
      <%= select("task", "list_id", List.where("user_id = ?", @user.id).collect { |l| [l.name, l.id ] }) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :tag %>
    <%= f.text_field :tag %>
  </div>

  <div class="field">
    <%= f.label :Done %>
    <%= f.check_box :isDone %>

    <%= f.label :Star %>
    <%= f.check_box :isStarred %>

    <%= f.label :Archive %>
    <%= f.check_box :isArchived %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<% end %>
