<%= form_tag('/tasks/search_results', method: "get", id: "search_form", class: "form") do %>

<table class="table">
  <div class="form-inline">
    <%= label_tag(:tagSearch, "Search Tags?") %>
    <%= check_box_tag(:tagSearch) %>  

    <%= label_tag(:tag, "Tag:") %>
    <%= text_field_tag(:tag) %>    
  </div>

  <br>

  <div class="form-group">
    <%= label_tag(:isStarred, "Starred") %>
    <%= check_box_tag(:isStarred) %>
  
    <%= label_tag(:isArchived, "Archived") %>
    <%= check_box_tag(:isArchived) %><br>
  
    <%= label_tag(:isDone, "Done") %>
    <%= check_box_tag(:isDone) %>
  </div>


  <%= button_tag("Search", type: 'submit', id: 'search_button', class: "btn btn-primary") %>
<% end %>
