
<h1>All Tasks</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th class="lead">Name</th>
      <th class="lead">List</th>
      <th class="lead">Options</th>
    </tr>
  </thead>

  <tbody>
  <% if (@tasks.count > 0) %>
    <% @tasks.each do |task| %>
      <% if (task.list.user_id == session[:user_id]) %>
      <tr>  
        <td><%= task.name %></td>
        <td><%= link_to task.list.name, task.list %></td>
        <td><%= link_to ' SHOW', task, class: "btn btn-primary" %>
        <%= link_to ' EDIT', edit_task_path(task), class: "btn btn-warning" %>
        <%= link_to ' DELETE', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
  <% else %>
    <p>No tasks to show! Make a new one.</p>
  <% end %>
  </tbody>
</table>

<br>

<%= field_set_tag "New Task" do %>
  <%= render 'form' %>
<% end %>
