<p id="notice"><%= notice %></p>
<p><%= session[:test] %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list.name %>
</p>

<p>
  <strong>Tags:</strong>
	<ul>
	  	<% @task.tags.each do |t| %>
	  	<li><%= link_to t.name, tag_path(t) %></li>
	  	<% end %>
	</ul>

</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
	