<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list.name %>
</p>

<p>
  <strong>Tags:</strong>
	<ul>
	  	<% @task.tags.each do |t| %>
	  	<li><%= link_to t.name, tag_path(t) %></li>
	  	<% end %>

	  	<br><div class="task_stats">
		  	Archived: <%= if @task.isArchived then "YES" else "NO" end %><br>
		  	Done: <%= if @task.isDone then "YES" else "NO" end %><br>
		  	Starred: <%= if @task.isStarred then "YES" else "NO" end %>
	  	</div>

	</ul>

</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
	