<h2>Login to access your tasks or <a href="/users/signup/"><u>Sign Up</u></a></h2>

<br>

<%= form_for :user do |f| %>

  <div class="form-inline form-group">
    <%= f.label :Username %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-inline form-group">
    <%= f.label :Password %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>


  <div class="actions form-group">
    <%= f.submit(:Login, class: "btn btn-primary") %>
  </div>

  <br>

  <div class="demo">
    <p class="lead">For a demo, you can login using username 'testuser' and password 'testpass'</p>
  </div>

<% end %>
