

<%= form_for :user do |f| %>

  <div class="field">
    <%= f.label :Username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :Password %><br>
    <%= f.password_field :password %>
  </div>


  <div class="actions">
    <%= f.submit(:Login) %>
  </div>

  <div class="demo">
    <p>For a demo, you can login using username 'testuser' and password 'testpass'</p>
  </div>

  <%= link_to users_signup_path, "Click here to signup." %>



<% end %>
