<%= form_for :user do |f| %>

  <div class="field">
    <%= f.label :Username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :Password %><br>
    <%= f.text_field :password %>
  </div>


  <div class="actions">
    <%= f.submit(:Login) %>
  </div>
<% end %>
