<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="lead">Name</th>
      <th class="lead">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
    <% if (tag.task.list.user_id == session[:user_id]) %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to ' SHOW TASKS', tag, class: "btn btn-primary" %>
        <%= link_to ' EDIT', edit_task_path(tag), class: "btn btn-warning" %>
        <%= link_to ' DELETE', tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>