<p id="notice"><%= notice %></p>

<h1>Search Tags</h1>

<table>
  <thead>
    <tr>
    <% if (@tags.count > 0) %>
      <th>Tasks with tag: '<%= @tag_name %>'</th>
      <% else %>
      <th>No tasks with tag: '<%= @tag_name %>'</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @tags.each do |tag| %>
      <% if (tag.task.list.user_id == session[:user_id]) %>
      <tr>  
        <td><%= link_to tag.task.name, tag.task %></td>
        <td><%= link_to 'Show', tag.task %></td>
        <td><%= link_to 'Edit', edit_task_path(tag.task) %></td>
        <td><%= link_to 'Destroy', tag.task, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
