<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>

<div class="container"><div class="navbar">
	<div class="navbar-inner">
		<ul class="nav nav-tabs">
			<% if session[:logged_in?] %>
				<li><a href= <%= lists_path %> Lists</a></li>
				<li><a href="/tasks">Tasks</a></li>
				<li><a href="/tasks/search">Search Tasks</a></li>
				<li><a href="/tags">Tags</a></li>

				<li class="pull-right"><a href="/users/logout">Logout</a></li>
				<li class="pull-right"><a>Welcome <%= session[:user_name] %>!</a></li>
			<% else  %>
				<li class="pull-right"><a href="/users/login">Login</a></li>
				<li class="pull-right"><a href="/users/signup">Sign Up</a></li>
			<% end %>
		</ul>
	</div>
</div>
</div>

<%= yield %>

</body>
</html>
